{% extends 'blog/base.html' %}

{% block content %}
        <div class="page-header">
            <h1><a href="/">나와 닮은 위인 찾기</a></h1>
        </div>
        <div class="post">        
            {% if question1 %}
            <br>
            <div class="crop">
                <img src="{{ question1.img_link }}" alt="{{ question1.img_alt }}" width=500px height=auto;>
            </div>
            <div class="question"> 
                <h1>{{ question1.title }}</h1>
            </div>
            <br><br>
            <a href="{% url 'question2' %}"><button class="choiceA btn btn-default">A. {{ question1.text_a }}</button></a> 
            <br><br>
            <a href="{% url 'question2' %}" ><button class="choiceB btn btn-default">B. {{ question1.text_b }}</button></a>
        
            {% endif %}
        </div>
{% endblock %}